<div class="card">
    <div card-body>
        <h2 class="card-title"><%= @post.title %></h2>
        <p class="card-text"><%= @post.body %></p>
        <%= link_to "Edit", post_path(post), :class => 'card-link btn btn-primary' %>
        <%= link_to "Delete", post_path(post), :class => 'card-link btn btn-danger' %>
    </div>
</div>