<div class="card mt-5 p-4">
    <div card-body>
        <h2 class="card-title"><%= @post.title %></h2>
        <p class="card-text"><%= @post.body %></p>
        <hr>
        <%= link_to "Edit", edit_post_path(@post), :class => 'btn btn-primary mr-auto' %>
    </div>
</div>